[submodule "third_party/android_world"]
	path = third_party/android_world
	url = https://github.com/MadeAgents/android_world.git
[submodule "third_party/android_env"]
	path = third_party/android_env
	url = https://github.com/google-deepmind/android_env.git
[submodule "third_party/Android-Lab"]
	path = third_party/Android-Lab
	url = https://github.com/THUDM/Android-Lab.git
